nav {
    display: flex;
    justify-content: center; /* Alinha horizontalmente ao centro */
    align-items: center; /* Alinha verticalmente ao centro */
    margin-top: 20px;
    margin-bottom: 20px; /* Espaço entre os botões e o conteúdo abaixo */
}

nav button {
    margin: 0 10px; /* Espaço entre os botões */
}


/* Estilos para a página principal */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 0;
}

/* Estilos para os cartões de usuário e seções */
.user-card, .user-cards, .lista-servicos, .lista-kits, .prestador-servicos-cards, .user-rewards, .vendas-servicos-individuais, .vendas-kits, .servicos-utilizados-tipo, .recompensas-geradas, .servicos-nao-utilizados, .kits-nao-utilizados  {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
}

/* Estilos para os títulos das seções */
h1, h2 {
    color: #007BFF;
}

/* Estilos para os rótulos */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Estilos para o dropdown de seleção de usuário */
#user-dropdown {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para os botões */
button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para as listas */
ul {
    list-style: none;
    padding: 0;
}

/* Estilos para os itens da lista não selecionados */
li {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
}

/* Estilos para os itens da lista selecionados */
li.selected-card {
    background-color: #007BFF;
    color: #fff;
    border: 2px solid #0056b3;
    position: relative;
}

li.selected-card {
    background-color: #007BFF;
    color: Black;
    border: 2px solid #0056b3;
    position: relative;
}

#user-service-cards li.selected-card::after {
    content: "Você utilizará este ticket na sua compra";
    position: absolute; /* Posicionamento absoluto */
    right: 0;
    color: #fff;
    padding: 4px;
    font-weight: bold;
}

/* Estilos para os itens da lista desabilitados */
li.disabled {
    background-color: #ff0000;
    color: #fff;
    border: 2px solid #ff0000;
    cursor: none;
    position: relative;
}

li.disabled-reward {
    background-color: #ff0000;
    color: #fff;
    border: 2px solid #ff0000;
    cursor: none;
    position: relative;
}

li.disabled-reward::after {
    content: "Recompensa já utilizada";
    position: absolute; /* Posicionamento absoluto */
    right: 0;
    background-color: #ff0000;
    /*tamanho da font*/
    font-size: 12px;
    color: #fff;
    padding: 4px;
    font-weight: bold;
}

li.disabled::after {
    content: "Serviços já utilizados";
    position: absolute; /* Posicionamento absoluto */
    right: 0;
    background-color: #ff0000;
    color: #fff;
    padding: 4px;
    font-weight: bold;
}
/* Estilos para a seção de cartões de serviço */
.user-cards, .lista-servicos, .lista-kits {
    display: none; /* Inicialmente ocultas */
}

.acordeao-servicos, .acordeao-recompensas {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
}

.acordeao-item {
    background-color: #f9f9f9;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.acordeao-item.active, .acordeao-item:hover {
    background-color: #ccc;
    display: block;
}

.acordeao-content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: white;
}